<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<div title="欢迎使用" style="padding:20px;overflow:hidden; color:red; " th:fragment="context"  >
	<p style="font-size: 50px; line-height: 60px; height: 60px;"></p>
	<p style="font-size: 25px; line-height: 30px; height: 30px;">欢迎使用学生安全反馈后台管理系统</p>
  	<p>开发人员：***</p>
  	<p>开发周期：2019/10/20 --- 2019/12/28（共计60天）</p>
  	
  	<hr />
  	<h2>系统环境</h2>
  	<p>系统环境：Windows</p>
	<p>开发工具：Eclipse</p>
	<p>Java版本：JDK 1.8</p>
	<p>服务器：tomcat 7.0</p>
	<p>数据库：MySQL 5.1</p>
	<p>系统采用技术： springboot+thyemleaf+mybatis+druid+shiro+EasyUI+jQuery+Ajax+面向接口编程</p>
</div>
</body>
</html>