<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.bnuz.fb.mapper.DicMapper" >
  <resultMap id="BaseResultMap" type="edu.bnuz.fb.entity.Dic" >
    <id column="DIC_ID" property="dicId" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="DIC_DESC" property="dicDesc" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="INTEGER" />
  </resultMap>

 
  <sql id="Base_Column_List" >
    DIC_ID, PARENT_ID, DIC_DESC, LEVEL
  </sql>
  
  

  <select id="findDicList" resultMap="BaseResultMap" parameterType="edu.bnuz.fb.entity.Dic" >
    select 
    <include refid="Base_Column_List" />
    from dic
    <where>
      <if test="parentId != null" >
       and PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="dicDesc != null" >
        and DIC_DESC = #{dicDesc,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        and LEVEL = #{level,jdbcType=INTEGER},
      </if>
    </where>
  </select>
  
  <delete id="deleteDic" parameterType="java.lang.Long" >
    delete from dic
    where DIC_ID = #{dicId,jdbcType=BIGINT}
  </delete>
  
 
  
  <insert id="insert" parameterType="edu.bnuz.fb.entity.Dic" >
    insert into dic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dicId != null" >
        DIC_ID,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="dicDesc != null" >
        DIC_DESC,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dicId != null" >
        #{dicId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="dicDesc != null" >
        #{dicDesc,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
 


  <update id="updateDic" parameterType="edu.bnuz.fb.entity.Dic" >
    update dic
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="dicDesc != null" >
        DIC_DESC = #{dicDesc,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where DIC_ID = #{dicId,jdbcType=BIGINT}
  </update>
  

</mapper>