<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.bnuz.fb.mapper.WfInstanceMapper" >
  <resultMap id="BaseResultMap" type="edu.bnuz.fb.entity.WfInstance" >
    <id column="INSTANCE_ID" property="instanceId" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="BIZ_ID" property="biz_Id" jdbcType="BIGINT" />
    <result column="CREATEUSER" property="createUser" jdbcType="BIGINT" />
    <result column="OPINION" property="opinion" jdbcType="VARCHAR" />
    <association column="NODE_ID" property="nodeId" javaType="edu.bnuz.fb.entity.WfDef">
  	    <id column="NODE_ID" property="nodeId" jdbcType="BIGINT" />
  		<result column="NEXT_NODE" property="nextNode" jdbcType="BIGINT" />
  		<result column="NODE_NAME" property="nodeName" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    INSTANCE_ID, CREATE_DATE, NODE_ID,BIZ_ID,CREATEUSER,OPINION
  </sql>
  

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="edu.bnuz.fb.entity.WfInstance" >
    select 
    <include refid="Base_Column_List" />
    from WF_INSTANCE
     <where>
     <if test="instanceId != null" >
        and INSTANCE_ID= #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="wfDef != null" >
        and NODE_ID = #{wfDef.nodeId,jdbcType=BIGINT},
      </if>
     </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from WF_INSTANCE
    where INSTANCE_ID = #{instanceId,jdbcType=BIGINT}
  </delete>
  
  


  <insert id="createWfInstance" parameterType="edu.bnuz.fb.entity.WfInstance" >
    insert into WF_INSTANCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instanceId != null" >
        INSTANCE_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="wfDef != null" >
        NODE_ID,
      </if>
      <if test="biz_Id != null" >
        BIZ_ID,
      </if>
       <if test="createUser != null" >
        CREATEUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instanceId != null" >
        #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="wfDef != null" >
        #{wfDef.nodeId,jdbcType=BIGINT},
      </if>
      <if test="biz_Id != null" >
        #{biz_Id,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  


 
  <update id="updateWFInstance" parameterType="edu.bnuz.fb.entity.WfInstance" >
    update WF_INSTANCE
    <set >
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="wfDef != null" >
        NODE_ID = #{wfDef.nodeId,jdbcType=BIGINT},
      </if>
    </set>
    where INSTANCE_ID = #{instanceId,jdbcType=BIGINT}
  </update>
  
  <select id="selectBizWFInstace" resultMap="BaseResultMap" parameterType="java.lang.Long">
	  SELECT
		t1.NODE_ID,
		t2.NODE_NAME,
		t1.CREATE_DATE,
		t1.CREATEUSER
	FROM
		WF_INSTANCE t1
	LEFT JOIN WF_DEF t2 ON t1.NODE_ID = t2.NODE_ID
	WHERE
		t1.BIZ_ID =?
  </select>
  
  

</mapper>