<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>学生列表</title>
	<link rel="stylesheet" type="text/css" href="/webjars/easyui-186/1.8.6/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/webjars/easyui-186/1.8.6/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/static/css/demo.css">
	<script type="text/javascript" src="/webjars/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/easyui-186/1.8.6/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/static/js/validateExtends.js"></script>
	<script th:inline="javascript" type="text/javascript">
	var gradeList  = [[${gradeList}]];
	console.log(gradeList)
	$(function() {	
		//datagrid初始化 
	     $('#dataList').datagrid({ 
	        title:'学生列表', 
	        iconCls:'icon-more',//图标 
	        border: true, 
	        fit: true,//自动大小 
	        collapsible:false,//是否可折叠的 
	        fitColumns: true,//自动大小 
	        method: "post",
	        idField:'userId', 
	        singleSelect:false,//是否单选 
	        pagination:true,//分页控件 
	        rownumbers:true,//行号 
	        sortName:'userId',
	        sortOrder:'DESC', 
	        remoteSort: false,
	        url:"/findUsers",
	        columns: [
			        	[
							{field:'chk',checkbox: true,width:50},
			 		        {field:'userId',title:'ID',width:50, sortable: true},    
			 		        {field:'userNo',title:'学号',width:100, sortable: true},    
			 		        {field:'userName',title:'登录名',width:100},
			 		        {field:'realName',title:'真实姓名',width:100},
			 		        {field:'sex',title:'性别',width:100},
			 		        {field:'mobile',title:'电话',width:150},
			 		        {field:'email',title:'email',width:150},
			 		        {field:'classNum',title:'班级',width:50},
			 		        {field:'gardeId',title:'年级',width:50}
		 		       	]
	 				], 
	        toolbar: "#toolbar"
	    });  
	    //设置分页控件 
	    var p = $('#dataList').datagrid('getPager'); 
	    $(p).pagination({ 
	        pageSize: 10,//每页显示的记录条数，默认为10 
	        pageList: [10,20,30,50,100],//可以设置每页记录条数的列表 
	        beforePageText: '第',//页数文本框前显示的汉字 
	        afterPageText: '页    共 {pages} 页', 
	        displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录', 
	    }); 
	    //设置工具类按钮
	    $("#add").click(function(){
	    	$("#addDialog").dialog("open");
	    });
	    //修改
	    $("#edit").click(function(){
	    	var selectRows = $("#dataList").datagrid("getSelections");
        	if(selectRows.length != 1){
            	$.messager.alert("消息提醒", "请选择一条数据进行操作!", "warning");
            } else{
				//设置值
				console.log(selectRows);
				var selectRow = $("#dataList").datagrid("getSelected");
				$("#userNo").textbox('setValue',selectRow.userNo);
				$("#userName").textbox('setValue',selectRow.userName);
				$("#password").textbox('setValue',selectRow.password);
				$("#userId").textbox('setValue',selectRow.userId);
				$("#email").textbox('setValue',selectRow.email);
				$("#mobile").textbox('setValue',selectRow.mobile);
				$("#realName").textbox('setValue',selectRow.realName);
				$("#title").textbox('setValue',selectRow.title);
				$("#add_clazzList").combobox('setValue',selectRow.classNum);
				$("#add_gradeList").combobox('setValue',selectRow.gardeId);
		    	$("#addDialog").dialog("open");
            }
	    });
	    //删除
	    $("#delete").click(function(){
	    	var selectRows = $("#dataList").datagrid("getSelections");
        	var selectLength = selectRows.length;
        	if(selectLength == 0){
            	$.messager.alert("消息提醒", "请选择数据进行删除!", "warning");
            } else{
            	var userId = [];
            	$(selectRows).each(function(i, row){
            		userId[i] = row.userId;
            	});
            	
            	$.messager.confirm("消息提醒", "将删除与学生相关的所有数据(包括成绩)，确认继续？", function(r){
            		if(r){
            			$.ajax({
							type: "post",
							url: "/deleteUser",
							data: {userId: userId},
							//contentType:"application/json;charset=utf-8",
							success: function(msg){
								if(msg.success){
									$.messager.alert("消息提醒",msg.resultMsg,"info");
									//刷新表格
									$("#dataList").datagrid("reload");
									$("#dataList").datagrid("uncheckAll");
								}else{
									$.messager.alert("消息提醒",msg.resultMsg,"warning");
									return;
								}
							}
						});
            		}
            	});
            }
	    });
	    
	  	//年级下拉框
	  	$("#gradeList").combobox({
	  		panelHeight:'auto',
	  		valueField: "dicId",
	  		textField: "value",
	  		multiple: false, //可多选
	  		editable: false, //不可编辑
	  		method: "post",
	  		data:gradeList,
	  		onChange: function(newValue, oldValue){
	  			
	  			//加载该年级下的班级
	  			$("#clazzList").combobox("clear");
	  			$("#clazzList").combobox("options").queryParams = {parentId: newValue};
	  			$("#clazzList").combobox("reload");
	  		}
	  	});
	  	//班级下拉框
	  	$("#clazzList").combobox({
	  		panelHeight:'auto',
	  		valueField: "dicId",
	  		textField: "value",
	  		multiple: false, //可多选
	  		editable: false, //不可编辑
	  		method: "post",
	  		url: "/getGradeList?t="+new Date().getTime(),
	  		onChange: function(newValue, oldValue){
	  			//加载班级下的学生
	  			//var param ={};
	  			//param.classNum = newValue;
	  			//queryUser(param);
	  			$('#dataList').datagrid("options").queryParams = {classNum: newValue};
	  			$('#dataList').datagrid("reload");
	  		}
	  	});
	  	
	  	//下拉框通用属性
	  	$("#add_gradeList, #add_clazzList").combobox({
	  		panelHeight:'auto',
	  		valueField: "dicId",
	  		textField: "value",
	  		multiple: false, //可多选
	  		editable: false, //不可编辑
	  		method: "post",
	  	});
	  	
	  	$("#add_gradeList").combobox({
	  		data:gradeList,
	  		onChange: function(newValue, oldValue){
	  			//加载该年级下的班级
	  			//$("#add_clazzList").combobox("clear");
	  			$("#add_clazzList").combobox("options").queryParams = {parentId: newValue};
	  			$("#add_clazzList").combobox("reload");
	  		},
			onLoadSuccess: function(){
				//默认选择第一条数据
				//var data = $(this).combobox("getData");
				//$(this).combobox("setValue", data[0].id);
	  		}
	  	});
	  	$("#add_clazzList").combobox({
	  		url: "/getGradeList?t="+new Date().getTime(),
	  		onLoadSuccess: function(){
		  		//默认选择第一条数据
				var data = $(this).combobox("getData");;
				$(this).combobox("setValue", data[0].id);
	  		}
	  	});
	  	

	  	

	  	
	  	//设置添加学生窗口
	    $("#addDialog").dialog({
	    	title: "添加学生",
	    	width: 650,
	    	height: 460,
	    	iconCls: "icon-add",
	    	modal: true,
	    	collapsible: false,
	    	minimizable: false,
	    	maximizable: false,
	    	draggable: true,
	    	closed: true,
	    	buttons: [
	    		{
					text:'添加',
					plain: true,
					iconCls:'icon-add',
					handler:function(){
						var validate = $("#addForm").form("validate");
						if(!validate){
							$.messager.alert("消息提醒","请检查你输入的数据!","warning");
							return;
						} else{
							var userId = $("#userId").textbox("getValue");
							var gradeid = $("#add_gradeList").combobox("getValue");
							var clazzid = $("#add_clazzList").combobox("getValue");
							var url = "/addUser";
							if(userId!=null&&userId!="") url = "updateUser";
							$.ajax({
								type: "post",
								url: url,
								data: $("#addForm").serialize(),
								success: function(msg){
									console.log(msg);
									if(msg.success){
										$.messager.alert("消息提醒",msg.resultMsg,"info");
										//关闭窗口
										$("#addDialog").dialog("close");
										//清空原表格数据
										$("#addForm").form('clear');
										//重新刷新页面数据: 
										$('#dataList').datagrid("options").queryParams = {classNum: clazzid};
							  			$('#dataList').datagrid("reload");
							  			$("#gradeList").combobox('setValue', gradeid);
							  			setTimeout(function(){
											$("#clazzList").combobox('setValue', clazzid);
										}, 100);
										
									} else{
										$.messager.alert("消息提醒","添加失败!","warning");
										return;
									}
								}
							});
						}
					}
				},
				{
					text:'重置',
					plain: true,
					iconCls:'icon-reload',
					handler:function(){
						$("#add_number").textbox('setValue', "");
						$("#add_name").textbox('setValue', "");
						$("#add_phone").textbox('setValue', "");
						$("#add_qq").textbox('setValue', "");
						//重新加载年级
						$("#add_gradeList").combobox("clear");
						$("#add_gradeList").combobox("reload");
					}
				},
			],
			onBeforeClose:function(){
				$("#userId").textbox('clear');
			}
	    });
	  	

	  	function queryUser(param){
	  		$.ajax({
	  			url:"/findUsers",
	  			data:param,
	  			method:post,
	  			success:function(msg){
	  				if(msg.success){
	  					var objList = msg.rows;
	  					$('#dataList').datagrid({
	  						data:objList
	  						
	  					});
	  					//$("#dataList").datagrid("reload");
	  					
	  				}else{
	  					$.messager.alert("消息提醒","msg.resultMsg!","warning");
	  				}
	  			}
	  		});
	  	}
	   
	});
	</script>
</head>
<body>
	<!-- 学生列表 -->
	<table id="dataList" cellspacing="0" cellpadding="0"> 
	    
	</table> 
	<!-- 工具栏 -->
	<div id="toolbar">
		<div style="float: left;"><a id="add" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a></div>
			<div style="float: left;" class="datagrid-btn-separator"></div>
		<div style="float: left;"><a id="edit" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a></div>
			<div style="float: left;" class="datagrid-btn-separator"></div>
		<div style="float: left;"><a id="delete" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a></div>
		
		<div style="float: left; margin: 0 10px 0 10px">年级：<input id="gradeList" class="easyui-textbox" name="grade" /></div>
		<div style="margin-left: 10px;">班级：<input id="clazzList" class="easyui-textbox" name="clazz" /></div>
	
	</div>
	
	<!-- 添加学生窗口 -->
	<div id="addDialog" style="padding: 10px">  
    	<form id="addForm" method="post">
    		<input type="hidden" id="userId" name="userId" class="easyui-textbox" >
	    	<table cellpadding="8" >
	    		<tr>
	    			<td>学号/工号:</td>
	    			<td>
	    				<input id="userNo"  class="easyui-textbox" style="width: 200px; height: 30px;" type="text" name="userNo" data-options="required:true, validType:'repeat', missingMessage:'请输入学号'" />
	    			</td>
	    			<td colspan="2" rowspan="5">
	    				<div style="float: right; width: 200px; border: 1px solid #EBF3FF" id="photo">
					    	<img alt="照片" style="max-width: 200px; max-height: 400px;" title="照片" src="/static/image/student.jpg" />
					    </div>  
					   
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>用户名:</td>
	    			<td colspan="3">
	    				<input id="userName"  class="easyui-textbox" style="width: 200px; height: 30px;" type="text" name="userName" data-options="required:true, validType:'repeat', missingMessage:'请输入学号'" />
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>初始密码:</td>
	    			<td>
	    				<input id="password"  class="easyui-textbox" style="width: 200px; height: 30px;" type="text" name="password" data-options="required:true, validType:'repeat', missingMessage:'请输入学号'" />
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>姓名:</td>
	    			<td><input id="realName" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="realName" data-options="required:true, missingMessage:'请填写姓名'" /></td>
	    		</tr>
	    		<tr>
	    			<td>性别:</td>
	    			<td><select id="sex" style="width: 200px;" class="easyui-combobox" data-options="editable: false, panelHeight:'auto' " name="sex"><option value="0">男</option><option value="1">女</option></select></td>
	    		</tr>
	    		<tr>
	    			<td>电话:</td>
	    			<td><input id="mobile" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="mobile" validType="mobile" /></td>
	    			<td>邮件:</td>
	    			<td><input id="email" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="email" validType="email" /></td>
	    		</tr>
<!-- 	    		<tr>
	    			<td>邮件:</td>
	    			<td><input id="add_qq" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="email" validType="email" /></td>
	    		</tr> -->
	    		<tr>
	    			<td>年级:</td>
	    			<td><input id="add_gradeList" style="width: 200px; height: 30px;" class="easyui-textbox" name="gardeId" /></td>
	    			<td>班级:</td>
	    			<td><input id="add_clazzList" style="width: 200px; height: 30px;" class="easyui-textbox" name="classNum" /></td>
	    		</tr>
	    		<tr>
	    			<td>职位:</td>
	    			<td><input id="title" style="width: 200px; height: 30px;" class="easyui-textbox" name="title" /></td>
	    		</tr>
	    	</table>
	    </form>
	</div>
	

	
</body>
</html>